/* Resets */
* {
	box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

nav ol, nav ul {
    list-style-type: none;
}

/* Custom styling */

body {
    font-family: "Afacad", sans-serif;
    font-weight: 400;
}

.points {
    font-weight: 700;
}